@media screen and (min-width: 100px) and (max-width: 999px) {
  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }

  #header {
    width: 100%;
    height: 35vh;
    align-items: center;
    justify-content: center;
    display: flex;
    background-image: url(https://media.istockphoto.com/videos/colored-smoke-on-a-dark-background-blue-and-red-light-with-smoke-video-id1341408852?b=1&k=20&m=1341408852&s=640x640&h=C6ymXpr_Jn6-WqQmHHuS8z6TGBtkWDQ9x6tFs_hsBjs=);
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
  }

  .black-color-layer {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgba(0, 0, 0, 0.65);
  }

  h1 {
    color: white;
    font-family: "Quicksand";
    font-size: 1.5em;
    font-weight: "500";
    padding: 0 10%;
    text-align: center;
  }

  #form {
    background-color: #111;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    max-height: 400vh;
    display: flex;
    flex-direction: column;
  }

  .single-line-field {
    height: 48px;
    border: 1px rgba(255, 255, 255, 0.75) solid;
    border-radius: 12px;
    background-color: transparent;
    color: white;
    font-family: "Quicksand";
    font-size: 12px;
    font-weight: "100";
    padding: 12px 8px;
    margin: 1.5vh 12px;
  }

  .form-section-title {
    margin: 12px 0;
    color: white;
    font-size: 1.25em;
    font-weight: 300;
    font-family: "Agency FB";
  }

  #course-bio {
    color: rgba(255, 255, 255, 0.75);
    font-weight: normal;
    font-family: "Quicksand";
    font-size: 0.75em;
    margin: 12px;
  }

  .property {
    color: white;
    font-family: "Agency FB";
    font-weight: bold;
    font-size: 0.95em;
    margin: 12px;
    text-decoration: none;
  }

  .property-title {
    color: rgba(255, 255, 255, 0.75);
    font-weight: 100;
    font-size: 0.75em;
  }

  #space-name {
    font-size: 1.25em;
  }

  #course-bg {
    background-image: url(https://media.istockphoto.com/videos/colored-smoke-on-a-dark-background-blue-and-red-light-with-smoke-video-id1341408852?b=1&k=20&m=1341408852&s=640x640&h=C6ymXpr_Jn6-WqQmHHuS8z6TGBtkWDQ9x6tFs_hsBjs=);
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
    background-position: center;
    border-radius: 8px;
    width: 92%;
    height: 40vh;
    margin: 0 12px;
  }

  #location-container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    height: 55vh;
    flex-direction: column-reverse;
    /* padding: 0 12px; */
  }

  #space-image {
    width: 100%;
    height: 30vh;
  }

  .section-divider {
    height: 4px;
    margin: 24px 30%;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 12px;
  }

  .field-attached-paragraph {
    color: rgba(255, 255, 255, 0.25);
    font-weight: 100;
    font-size: 0.55em;
    margin-bottom: 24px;
    margin-left: 12px;
    font-family: "Quicksand";
  }

  #confirmation {
    color: white;
    width: 50%;
    height: 8.5vh;
    font-size: 1em;
    font-weight: 100;
    font-family: "Quicksand";
    align-items: center;
    justify-content: center;
    margin: 10vh 25%;
    border-radius: 12px;
    background-color: #111;
    border: 1px white solid;
    transition: 500ms ease;
  }
}
