@media screen and (min-width: 1000px) {
  #entry {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-image: url(./images/entry.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: #111;
  }
  .grediant-layer-left {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    display: flex;
    padding: 5vh 10%;
    backdrop-filter: blur(3px);
    background: linear-gradient(
        90deg,
        rgba(17, 17, 17, 0.92) 0%,
        rgba(0, 212, 255, 0) 68%
      ),
      linear-gradient(0deg, rgba(17, 17, 17, 1) 0%, rgba(0, 212, 255, 0) 50%),
      linear-gradient(180deg, rgba(17, 17, 17, 1) 0%, rgba(0, 212, 255, 0) 50%);
  }
  .grediant-layer-right {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    display: flex;
    padding: 5vh 10%;
  }

  h2 {
    font-size: 7em;
    font-weight: 900;
    color: white;
    font-family: "Agency FB";
    text-align: center;
  }

  #cubers {
    letter-spacing: 12px;
    font-size: 1em;
    font-weight: 900;
    color: white;
    font-family: "Agency FB";
  }

  h2 > span {
    font-size: 0.2em;
    font-weight: 100;
    color: #999;
    font-family: "Quicksand";
    text-align: start;
  }

  .main-button {
    padding: 8px 16px;
    margin: 10vh 8px;
    color: white;
    font-family: "Quicksand";
    font-weight: 100;
    background-color: #4ea827;
    font-size: 1.5em;
    border-radius: 12px;
    border: 1px #4ea827 solid;
    transition: 500ms ease;
  }

  .main-button:hover {
    background-color: transparent;
    color: #4ea827;
  }

  .shadow-button {
    padding: 8px 16px;
    margin: 10vh 12px;
    color: white;
    font-family: "Quicksand";
    font-weight: 100;
    font-size: 1.5em;
  }

  .black-color-layer-row {
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    width: 100%;
    height: 100%;
  }

  #brief {
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: url(./images/about.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }

  .section-title {
    color: white;
    font-weight: 500;
    font-family: "Agency FB";
    font-size: 4em;
  }

  .section-paragraph {
    color: rgba(255, 255, 255, 0.75);
    font-weight: 100;
    font-family: "Quicksand";
    font-size: 1.25em;
    padding-right: 50%;
  }

  #fresh-courses {
    width: 100%;
    height: 100vh;
    background-color: #111;
    display: flex;
    padding: 5% 10%;
    flex-direction: column;
  }

  .section-header {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .section-header-title {
    font-family: "Quicksand";
    font-weight: 300;
    font-size: 3em;
    color: white;
  }

  .section-header-action {
    padding: 8px 16px;
    margin: 10vh 8px;
    color: white;
    font-family: "Quicksand";
    font-weight: 100;
    background-color: #4ea827;
    font-size: 1.5em;
    border-radius: 12px;
    border: 1px #4ea827 solid;
    transition: 500ms ease;
  }

  .section-header-desc {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.75em;
    font-weight: 100;
    font-family: "Quicksand";
  }

  #courses-cards {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    display: flex;
    margin-top: 5%;
  }

  #sub-to-notifications {
    background-color: #111;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 5% 10%;
  }

  .single-line-field {
    width: 100%;
    height: 8vh;
    background-color: transparent;
    border: 1px white solid;
    font-weight: 100;
    font-size: 1em;
    font-family: "Quicksand";
    padding: 8px 12px;
    margin: 12px 12px;
    color: white;
    border-radius: 12px;
  }

  .end-row-buttons {
    padding: 5% 10%;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  #instructors {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #111;
    padding: 5% 10%;
  }

  #instructors-cards {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    display: flex;
    margin-top: 5%;
  }

  .instructor-card {
    width: 100%;
    height: 100%;
    margin: 0 32px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
    transition: 500ms ease;
  }

  .instructor-card:hover {
    transform: scale(1.1);
  }

  #filter {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    border-radius: 12px;
  }

  .instructor-card-content {
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(
      0deg,
      rgba(17, 17, 17, 0.9) 25%,
      rgba(0, 212, 255, 0) 100%
    );
    padding: 8px 16px;
    display: flex;
    justify-content: end;
    align-items: start;
    flex-direction: column;
    transition: 500ms ease;
  }

  .instructor-card-content > h3 {
    color: white;
    font-size: 1.5em;
    font-weight: 100;
    font-family: "Agency FB";
  }

  .instructor-card-content > p {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 100;
    font-size: 0.75em;
    font-family: "Quicksand";
  }

  .instructor-card-content > h4 {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 100;
    font-size: 0.75em;
    font-family: "Quicksand";
  }

  .instructor-card-content > div {
    width: 100%;
    height: 10vh;
    justify-content: end;
    align-items: end;
    display: flex;
    position: absolute;
    bottom: 0;
  }
}
