body, * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

a {
	text-decoration: none;
}

:root {
	--main-color: #4e8ece;
	--secondary-color: #555;
}

#dashboard {
	flex-direction: row;
	display: flex;
	min-height: 100vh;
	width: 100%;
}


#menu {
	width: 12.5%;
	height: 100vh;
	display: flex;
	background-color: var(--main-color);
	position: fixed;
	flex-direction: column;
	align-items: end;
	justify-content: space-between;
	transition: 500ms ease;
	padding: 12px 0;
}

#menu > button {
	background-color: transparent;
	border: none;
	background: transparent;
	color: white;
	font-size: 2em;
	cursor: pointer;
	margin: 24px;
}

.menu-tab {
	width: 100%;
	height: 10vh;
	background-color: transparent;
	justify-content:  space-between;
	align-items: center;
	flex-direction: row;
	overflow: hidden;
	transition: 500ms ease;
	display: flex;
	padding: 0 12px;
	cursor: pointer;
}

.active-tab {
	background-color: rgba(0, 0, 0, 0.15);
}

.menu-tab-title {
	color: ivory;
	font-family: 'Raleway';
}

.menu-tab-icon {
	width: 32px;
	height: 32px;
	display: flex;
	background-repeat: no-repeat;
	background-size: contain;
}

.menu-tab:hover {
	background-color: rgba(0, 0, 0, 0.15);
}

#leads-icon {
	background-image: url(./icons/leads.png);
}

#mailing-icon {
	background-image: url(./icons/mailing.png);
}

#processes-icon {
	background-image: url(./icons/processes.png);
}

#logout-icon {
	background-image: url(./icons/logout.png);
}

#fragment {
	margin-left: 12.5%;
	width: 87.5%;
	min-height: 100vh;
	background-color: ivory;
	display: flex;
	flex-direction: column;
	padding: 8px 16px;
	transition: 500ms ease;
}

#header {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	overflow: auto;
}

#header > button {
	background-color: var(--main-color);
	font-family: Raleway;
	font-size: 1.5em;
	color: white;
	padding: 12px 24px;
	border-radius: 12px;
	border: 2px var(--main-color) solid;
	transition: 500ms ease;
	cursor: pointer	;
}

#options > button:hover{
	background-color: transparent;
	color: var(--main-color);
}

#title{
	min-width: 60vw;
}

#title > h3 {
	color: var(--main-color);
	font-size: 3em;
	font-weight: 900;
	font-family: 'Raleway';
}

#title > p {
	color: var(--secondary-color);
	font-size: 0.75em;
	font-weight: 300;
	font-family: 'Poppins';
}

#leads {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

.leads-dropbtn {
  background-color: var(--main-bg-color);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 30px 1px #999;
  border-radius: 12px;
  width:  100%;
  height:  8vh;
  justify-content: start;
  align-items: center;
  display: flex;
  transition: 500ms ease;
  margin-bottom: 8vh;
}


#gender-search {
    width:  100%;
    height:  7vh;
    display:  flex;
    padding:  4px 8px;
    outline: none;
    border: none;
    transition: 500ms ease;
    font-size: 1.25em;
    font-weight: 500;
    font-family: 'Cairo';
    color:  var(--main-color);
    background-color: transparent;
}

.leads-dropdown {
  position: relative;
  display: inline-block;
}

.leads-dropdown-content {
  display: none;
  position: absolute;
  background-color: ivory;
  min-width: 90%;
  max-height: 50vh;
  overflow: auto;
  border: 1px solid var(--main-color);
  z-index: 1;
  box-shadow: 0 0 30px 1px #999;
  border-radius: 4px;
  bottom: 25vh;
}


#leads-search {
    width:  100%;
    height:  7vh;
    display:  flex;
    padding:  4px 8px;
    outline: none;
    border: none;
    transition: 500ms ease;
    font-size: 1.25em;
    font-weight: 500;
    font-family: 'Cairo';
    color:  var(--main-color);
    background-color: transparent;
}



.leads-dropdown-content button {
  color: var(--main-color);
  font-weight: 300;
  font-size: 1.5em;
  padding: 12px 16px;
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.leads-dropdown-content button:hover {
  background-color: var(--main-color-variant);
}

.show {
  display: block;
}


#form {
	width: 100%;
	min-height: 50vh;
	display: flex;
	justify-content: start;
	align-items: start;
	flex-direction: column;
}

#form > * {
	margin: 12px 0;
}

#form > p {
	color: var(--main-color);
	font-family: 'Raleway';
	font-size:  1.5em;
	font-weight: 500;
}

#form > textarea {
	background-color: transparent;
	border: 1px #666 solid;
	font-family: 'Raleway';
	font-size: 1.75em;
	color: var(--main-color);
	width: 100%;
	min-height: 50vh;
	min-width: 100%;
	max-width: 100%;
	border-radius: 12px;
	text-decoration: none;
	padding: 12px 24px;
}

#form > textarea:focus,
#form > textarea:active {
	border: 2px var(--main-color) solid;
}
