@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('http://fonts.cdnfonts.com/css/agency-fb');

:root {
	--accentColor:  #0081af;
  font-family: 'Agency FB', 'Quicksand';
}

@media screen and (min-width: 0px) and (max-width: 999px){
	section.entry {
		width: 100%;
		height: 50vh;
		display: flex;
		align-items: center;
		justify-content: column;
		background-image: url(./images/entry.webp);
		background-size: cover;
		background-attachment: fixed;
	}

	#entry_content {
		width: 100%;
		height: 100%;
		align-items: start;
		justify-content: center;
		flex-direction: column;
		display: flex;
		padding-left: 5%;
	}

	#entry_title {
		color: rgba( 255, 255, 255, 0.5);
		font-family: 'Quicksand';
		font-weight: 100;
		font-size: 0.85em;
	}

	#entry_title span {
		font-size: 4em;
		font-family: 'Agency FB';
		font-weight: 900;
		color: #fff;
		letter-spacing: 28px;
	}

	#entry_buttons {
		width: 50%;
		height: 10vh;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	section.services {
		display: flex;
		width: 100%;
		height: 320vh;
		flex-direction: column;
		background-color: rgba(0, 0, 0, 0.95);
		align-items: center;
		justify-content: space-between;
		padding: 10%;
	}

	#services_cards {
		width: 100%;
		height: 300vh;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}

	.service_card {
		width: 50vh;
		height: 40vh;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		align-items: center;
		background-color: 111;
		box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.75);
		border-radius: 12px;
		padding: 12px 0;
		transition: 500ms ease;
		margin: 0 1em;
	}

	.service_card:hover {
		transform: scale(1.1);
	}

	.service_card:hover > .service_card_title {
		color: var(--accentColor);
	}

	.service_card_title {
		color: #fff;
		font-family: 'Agency FB';
		font-weight: 200;
		font-size: 2em;
	}

	.service_card_desc {
		color: rgba(255, 255, 255, 0.75);
		font-family: 'Quicksand';
		font-size: 0.75em;
		text-align: center;
		padding: 0 8px;
		font-weight: 100;
	}

	section#terms {
		width: 100%;
		height: 100vh;
		display: flex;
		background-image: url(./images/terms.webp);
		background-attachment: fixed;
		background-size: cover;
		flex-direction: column-reverse;
	}

	#terms_vector {
		background-image: url(./ils/terms.png);
		margin-right: 10%;
	}

	section#portfolio {
		display: flex;
		width: 100%;
		height: 180vh;
		flex-direction: column;
		background-color: rgba(0, 0, 0, 0.95);
		padding: 10% 10%;
		align-items: center;
		justify-content: space-between;

	}

	.project_card {
		width: 50vh;
		height: 40vh;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		align-items: center;
		background-color: 111;
		box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.75);
		border-radius: 12px;
		transition: 500ms ease;
		position: relative;
		margin: 0 1em;
	}

	.hall_of_honor_card_bg {
		position: absolute;
		z-index: 1;
		display: flex;
		width: 100%;
		height: 80%;
		background-attachment: fixed;
		object-fit: cover;
		border-radius: 12px;
	}

	#hall_of_honor_image_one {
		background-image: url(./images/entry.webp);
	}

	.project_card:hover {
		transform: scale(1.1);
	}

	.project_card:hover > .project_card_title {
		color: var(--accentColor);
	}

	.project_card_content {
		width: 100%;
		height: 70%;
		bottom: 0;
		z-index: 2;
		position: absolute;
		display: flex;
		border-radius: 12px;
		flex-direction: column;
		padding: 12px;
		background: linear-gradient(0deg, #111 40%, rgba(0,0,0,0) 100%);
	}

	.project_card_title {
		color: #fff;
		font-family: 'Agency FB';
		font-weight: 200;
		font-size: 2em;
	}

	.project_card_title > span {
		font-weight: 100;
		font-family: 'Quicksand';
		padding: 0;
		font-size: 0.5em;
		color: rgba (255, 255, 255, 0.5);
		margin: 0;
	}

	.project_card_desc {
		color: rgba(255, 255, 255, 0.75);
		font-family: 'Quicksand';
		font-size: 0.75em;
		text-align: center;
		font-weight: 100;
		text-align: start;
	}


	h3.section_title {
		color: #fff;
		font-weight: 500;
		font-size: 2em;
		letter-spacing: 2px;
		font-family: 'Quicksand';

	}



}
