#entry {
  width: 100%;
  height: 80vh;
  display: flex;
  background-image: url(./images/entry.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.black-color-layer {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.black-color-layer > h2 {
  color: white;
  font-family: "Agency FB";
  font-size: 12em;
  font-weight: 900;
  letter-spacing: 4px;
  text-align: center;
}

.black-color-layer > h2 > span {
  font-family: "Quicksand";
  font-weight: 100;
  font-size: 0.15em;
  letter-spacing: 2 px;
}

#courses {
  width: 100%;
  min-height:125vh;
  display: flex;
  flex-direction: column;
  background-color: #111;
  padding: 10vh 10%;
}

#courses-grid {
  display: grid;
  width: 100%;
  height: 100%;
  row-gap: 10vh;
  grid-template-columns: repeat(3, 1fr);
  margin: 10vh 0;
}

.section-header {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: "Quicksand";
  font-size: 2em;
  font-weight: 100;
}

.search-field {
  flex: 2;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 1px white solid;
  font-weight: 100;
  font-size: 0.75em;
  font-family: "Quicksand";
  padding: 8px 12px;
  margin: 0 12px;
  color: white;
  border-radius: 12px;
}

#search-button {
  color: white;
  font-weight: 100;
  font-family: "Quicksand";
  font-size: 0.5em;
  padding: 12px 16px;
  border: 1px #4e8ece solid;
  border-radius: 12px;
  background-color: #4e8ece;
  transition: 500ms ease;
}

#search-button:hover {
  background-color: transparent;
}

.course-card {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 12px;
  width: 100%;
  max-width: 40vh;
  height: 100%;
  min-height: 60vh;
  margin: 24px 32px;
  transition: 500ms ease;
}

.course-card:hover {
  transform: scale(1.1);
}

.course-card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  border-radius: 0 0 12px 12px;
  background: linear-gradient(0deg, #111 0%, rgba(0, 0, 0, 0) 100%);
  backdrop-filter: blur(1.5px);
  padding: 12px 8px;
}

.course-card-content > h3 {
  color: white;
  font-family: "Agency FB";
  font-weight: 200;
  font-size: 1.5em;
}

.course-card-content > p {
  color: rgba(255, 255, 255, 0.75);
  font-family: "Quicksand";
  font-size: 1em;
  font-weight: 100;
  margin-bottom: 8px;
}

.course-card-content > p > span {
  color: rgba(255, 255, 255, 0.75);
  font-family: "Quicksand";
  font-size: 0.75em;
  font-weight: 100;
}

#applicable-title {
  font-family: "Quicksand";
  font-size: 1em;
  font-weight: 100;
  color: greenyellow;
}

#coming-soon-title {
  font-family: "Quicksand";
  font-size: 1em;
  font-weight: 100;
  color: red;
}

.course-card-status {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 12px 8px;
  display: flex;
}

#nav-to-course {
  color: white;
  font-family: "Quicksand";
  font-size: 1em;
  font-weight: 100;
  padding: 8px 16px;
  background-color: #4e8ece;
  border-radius: 12px;
  border: 2px #4e8ece solid;
  transition: 500ms ease;
}

#nav-to-course:hover {
  background-color: transparent;
}
