<!DOCTYPE html>
<html>
<head>
  <link
    rel="icon"
    type="image/x-icon"
    href="{{url_for('static', filename='website/global/styles/icons/logo-accent.ico')}}"
  />
<title>Track your Project</title>

  <link
    rel="stylesheet"
    href="{{url_for('static', filename='website/global/styles/computer.css')}}"
  />
  <link
    rel="stylesheet"
    href="{{url_for('static', filename='website/global/styles/mobile.css')}}"
  />
  <link
    rel="stylesheet"
    href="{{url_for('static', filename='website/global/styles/tablets.css')}}"
  />
  <link
    rel="stylesheet"
    href="{{url_for('static', filename='website/tracking/panel/styles/computer.css')}}"
  />
  <link
    rel="stylesheet"
    href="{{url_for('static', filename='website/tracking/panel/styles/tablets.css')}}"
  />
  <link
    rel="stylesheet"
    href="{{url_for('static', filename='website/tracking/panel/styles/mobile.css')}}"
  />
  <script src="{{url_for('static', filename='website/tracking/panel/scripts/main.js')}}"></script>
  <meta name="viewport" content="width=device-width, initial-scale= 1.0" />
  <meta name="description" content="{{header_desc}}" />
  <meta name="keywords" content="{{keywords}}" />
  <link
    rel="icon"
    type="image/x-icon"
    href="{{url_for('static', filename='./website/global/styles/icons/logo-accent.ico')}}"
  />
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BlogPosting",
      "headline": "Cubers IO - We take business to the next level!",
      "description": {{header_desc}},
      "image": "https://www.cubersio.com",
      "url": "https://www.cubersio.com",
      "datePublished": "2022-8-23",
      "dateCreated": "2022-8-23",
      "dateModified": "2022-8-23",
      "publisher": "Cubers IO",
      "author": {
        "@type": "Company",
        "name": "Cubers IO"
      }
    }
  </script>
<body>
      <style>
      :root {
        --pff: "{{primary_font_family}}";
        --sff: "{{secondary_font_family}}";
      }
    </style>

    <header id="header">
      <div id="brand">
        <div id="open-drawer-header-icon" onclick="openMilestonesDrawer();"></div>
        <div id="logo" onclick="window.open('{{cfg.base_url |safe}}', '_self');"></div>
        <h1 onclick="window.open('{{cfg.base_url |safe}}', '_self');">{{content.global_[lang]['name']}}</h1>
      </div>
      <nav id="actions">
        <button class="main-button">Raise a Complain</button>
        <button onclick="logout();" class="shadow-button" style="color: red">Logout</button>
      </nav>
    </header>
	<section id="main">
		<div id="side-panel">
			<div id="header">
				<div id="client-logo"></div>
				<h3 id="project-name">Project Name</h3>
			</div>
			<div id="options">
				<div id="milestones">
				</div>
			</div>
			<div id="copyright">
				<div id="logo"></div>
				<div id="copyright-msg">All rights reserved @ Cubers IO for Software Development</div>
			</div>
		</div>
		<div id="body">
      <p>Take action: </p>
      <div id="mobile-actions">
        <button class="main-button">Raise a Complain</button>
        <button onclick="logout();" class="shadow-button" style="color: red">Logout</button>
      </div>
			<div id="header">
				<h3 id="body-title">Milestone One</h3>
				<p id="body-desc">This is the Project One description. In this panel you can track your project and all its insiders miletones!</p>
			</div>
			<div id="overview">
				<legend>Overview</legend>
				<div id="cards">
				</div>
			</div>
			<div id="parts">
				<legend>Parts</legend>
				<div id="cards">
				</div>
			</div>
		</div>
		<div id="information-panel-placeholder">
			<p>Please, Choose the part you want to view its log and results!</p>
		</div>
		<div id="information-panel">
      <div id="close-panel" onclick="closeAllPopOverlay();">x</div>
			<div id="header">
				<h3 id="information-panel-title"><span>Milestone One</span><br>Part One</h3>
				<p id="information-panel-desc">This is the first part of the milestone one parts. In this part you can find...</p>
			</div>
			<div id="body">
				<div id="controllers">
					<button onclick="toggleLogToResults();" id="log-controller">Log</button>
					<button onclick="toggleResultsToLog();" id="results-controller">Results</button>
				</div>
				<div id="fragments">
					<div id="result-fragment">
					</div>
					<div id="log-fragment">
					</div>
				</div>
			</div>
		</div>
	</section>
  <div id="popup-overlay" onclick="closeAllPopOverlay();"></div>
	<script type="text/javascript">
		initialization({{project | safe}});
	</script>
</body>
</html>