<html>
	<head>
		<title>Courses</title>
		<link rel="stylesheet" href="{{url_for('static', filename='./styles/courses/computer.css')}}"/>
		<link rel="stylesheet" href="{{url_for('static', filename='./styles/courses/smallDevices.css')}}"/>
		<link rel="stylesheet" href="{{url_for('static', filename='./styles/global/computer.css')}}"/>
		<link rel="stylesheet" href="{{url_for('static', filename='./styles/global/smallDevices.css')}}"/>
		<script src="{{url_for('static', filename='./scripts/courses/main.js')}}"></script>
		<script src="{{url_for('static', filename='./scripts/global/header.js')}}"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/x-icon" href="{{url_for('static', filename='./styles/global/images/logo-accent.ico')}}">
		<meta name="description" content="{{header_desc}}"/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
		<link href="https://fonts.cdnfonts.com/css/agency-fb" rel="stylesheet">
	  
	</head>

	<body>
		<header id="header">
			<a href="/" id="header_title">CUBERS ACADEMY</a>
			<nav>
				<a href="/home" >Home</a>
				<a href="/about">About</a>
				<a class="active_tab" href="/courses">Courses</a>
				<a href="/instructors">Instructors</a>
				<a  href="/instructos/form" id="join">Join Us</a>
			</nav>
		</header>
		<section id="entry">
			<div class="black-color-layer">
				<h2>Courses<br><span>For you to get ready for labor market!</span><h2>
			</div>
		</section>

		<section id="courses">
			<div class="section-header">
				<h3>Courses & Trainging Programs</h3>
			</div>
			<div class="section-header" id="fields">
				<input type="name" class="search-field" id="name" placeholder="Course Name" value={{course}}></input>
				<input type="instructor" class="search-field" id="instructor" placeholder="Instructor Name" value={{instructor}}></input>
				<button onclick="search();" id="search-button">Search</span>
			</div>
			<div id="courses-grid">
			{% for course in courses %}
				<div
				class="course-card"
				style="background-image: url('../../courses/images/{{course["id"]}}');"
				>
				<div class="course-card-content">
				<p>{{course["cat"]}} | {{calculate_rate(course["rates"])}} <span> / 5.0</span></p>
				<h3>{{course["name"]}}</h3>
				<p>{{course["bio"][0:100]}}...</p>
				<div class="course-card-status">  
					{% if course["active"] %}
					<p id="applicable-title">Applicable</p>
					{% else %}
					<p id="coming-soon-title">Coming soon...</p>
					{% endif %}
					<a id="nav-to-course" href="/courses/{{course['id']}}/forms">Learn More ></a>
				</div>
				</div>
			</div>
				{% endfor %}
			</div>
		</section>


		<footer>
			<div class="footer_column">
					<div id="footer_logo"></div>
					<h3><span style="letter-spacing: 8px;">CUBERS</span><br>Academy</h3>
          <p>{{meta_info['address']}}<br></p>
          <p>{{meta_info['phone']}}</p>
          <p>{{meta_info['email']}}</p>
					<div style="justify-content: space-between; width: 70%; margin-top: 10%; height: 64px; flex-direction: row; display: flex; align-items: center;">
              <a class="social_media_icon" href="{{meta_info['facebook']}}" id="facebook"></a>
              <a class="social_media_icon" href="{{meta_info['linkedin']}}" id="linkedin"></a>
              <a class="social_media_icon" href="{{meta_info['instagram']}}" id="instagram"></a>
					</div>
			</div>
			<div id="tabs" class="footer_column">
					<a  class="footer_tab" href="/">Home<br></a>
					<a  class="footer_tab" href="/about">About<br></a>
					<a  class="footer_tab" href="/instructors">Instructors<br></a>
					<a  class="footer_tab" href="/courses">Courses<br></a>

			</div>
			<div class="footer_column"></div>
	</footer>


	
	</body>
</html>
	
